{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Spotify App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style/base2.css' %}">
</head>
<body>
    <div class="page">
        {% block content %}
        <!-- Content goes here -->
        {% endblock %}
    </div>

    <script>
        // Wait for the document to be fully loaded
        document.addEventListener("DOMContentLoaded", function() {
            // Add the fade-in class to body to trigger fade-in effect
            document.body.classList.add('fade-in');

            const nextButton = document.querySelector('.btn-next');
            if (nextButton) {
                nextButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    const currentPage = document.querySelector('.page');
                    currentPage.classList.add('slide-up');  // Slide current page up

                    // Wait for the slide-up animation to finish before navigating
                    setTimeout(function() {
                        window.location.href = nextButton.href; // Navigate to the next page
                    }, 500); // Match the duration of the animation
                });
            }
        });
    </script>
</body>
</html>
