{% extends "spotify_app/base.html" %}
{% load static %}
{% block content %}
<video class="video-background" autoplay loop muted playsinline id="background-video" data-default-video="{% static 'videos/greenwave.mp4' %}">
    <source src="{% static 'videos/greenwave.mp4' %}" type="video/mp4">
</video>

<div class="profile-container">
    <!-- Profile Header -->
    <div class="profile-header">
        <div class="profile-icon">
            <span>{{ user.username|make_list|first|upper }}</span>
        </div>
        <div class="profile-info">
            <h2 style="font-size: 50px;">{{ user.username }}</h2>
            <p>Member since {{ user.date_joined|date:"F Y" }}</p>
        </div>
    </div>

    <!-- Spotify Connection Status -->
    <div class="connection-box">
        <h2 style="margin: 15px;">Spotify Connection:</h2>
        {% if spotify_connected %}
            <div class="status-connected">
                You Are Connected to Spotify
            </div>
        {% else %}
            <div class="status-not-connected">
                Not connected to Spotify
            </div>
            <a href="{% url 'spotify_app:spotify_login' %}" class="connect-button">
                Connect Spotify
            </a>
        {% endif %}
    </div>

    <div class="stats-container">
        <!-- Get Full Stats Button -->
        {% if spotify_connected %}
        <div class="stats-button-container">
            <a href="{% url 'spotify_app:game_artist' %}" class="full-stats-button">
                View Your Wrapped Now!
            </a>
        </div>
        {% endif %}

        <!-- Saved Wraps Button -->
        <div class="saved-wraps-button-container">
            <a href="{% url 'spotify_app:my_wraps' %}" class="saved-wraps-button">My Saved Wraps</a>
        </div>

        <!-- Delete Account -->
        <a href="{% url 'spotify_app:delete_account' %}" class="delete-account-link">Delete Account</a>
    </div>

</div>
{% endblock %}
