{% extends "spotify_app/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'style/mobile.css' %}">
<body class="top-genres">

<video class="video-background" autoplay loop muted playsinline id="background-video" data-default-video="{% static 'videos/pinkwave.mp4' %}">
    <source src="{% static 'videos\pinkwave.mp4' %}" type="video/mp4">
</video>

<h1>Your Top Genres</h1>

<div class="top-1" id="top-1">
    {% if top_genres %}
    <ul>
        <li2>
            <img class="top-image" src="{{ top_genres.0.image_url }}" alt="{{ top_genres.0.name }}" style="width: 400px; height: 400px;box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)">
            <div class="gif-overlay">
                <img class="gif-img">
            </div>
            <div><span style="text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);">#1<br>{{ top_genres.0.name }}</span></div>
        </li2>
    </ul>
    {% endif %}
    <button class="btn-top-5" id="top5Btn" style="position: absolute; top: 90%;left: 50%;transform: translate(-50%, -50%); z-index: 1000;">Show Top 5 Genres</button>
</div>

<div class="top-5" id="top-5" style="display: none;">
    <div class="left-half">
        <ul>
            <li2>
                <img class="top-image" src="{{ top_genres.0.image_url }}" alt="{{ top_genres.0.name }}" style="width: 500px; height: 500px;box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)">
                <div class="top-name">#1. {{ top_genres.0.name }}</div>
            </li2>
        </ul>
    </div>
    <div class="right-half">
        <ul>
            {% for genre in top_genres|slice:"1:5" %}
            <li>
                <img src="{{ genre.image_url }}" alt="{{ genre.name }}" style="width: 100px; height: 100px;">
                <div>#{{ forloop.counter|add:1 }}. <span style="font-weight:600;">{{ genre.name }}</span></div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<a href="{% url 'spotify_app:top_tracks' %}" class="btn-prev">Previous</a>
<a href="{% url 'spotify_app:listening_habits' %}" class="btn-next">Next</a>

</div>
</div>
<script>
    document.getElementById("top5Btn").addEventListener("click", function() {
        // Hide the top-1 section
        document.getElementById("top-1").style.display = "none";

        // Show the top-5 section
        document.getElementById("top-5").style.display = "flex";
    });
</script>
</body>
{% endblock %}
