{% extends "spotify_app/base.html" %}
{% load static %}

{% block content %}
<h1>Your Spotify Wrap</h1>

<style>
    p {
        margin: 10px;
    }
</style>

<video class="video-background" autoplay loop muted playsinline>
    <source src="{% static 'videos/orangewave.mp4' %}" type="video/mp4">
</video>

<h1>Your Spotify Year in Review</h1>

<h2>Top Artists</h2>
<ul>
    {% for artist in top_artists %}
    <li>
        <img src="{{ artist.image_url }}" alt="{{ artist.name }}" style="width: 100px; height: 100px;">
        <div>#{{ forloop.counter }}. <span style="font-weight:600;">{{ artist.name }}</span></div>
    </li>
    {% endfor %}
</ul>

<h2>Top Tracks</h2>
<ul>
    {% for track in top_tracks %}
    <li>
        <img src="{{ track.image_url }}" alt="{{ track.name }}" style="width: 100px; height: 100px;">
        <div>#{{ forloop.counter }}. <span style="font-weight:600;">{{ track.name }}</span><span style="font-size: 0.9em; font-weight:100;"> - {{ track.artist }}</span></div>
    </li>
    {% endfor %}
</ul>

<h2>Top Genres</h2>
<ul>
    {% for genre in top_genres %}
    <li>
        <img src="{{ genre.image_url }}" alt="{{ genre.name }}" style="width: 100px; height: 100px;">
        <div>#{{ forloop.counter }}. <span style="font-weight:600;">{{ genre.name }}</span></div>
    </li>
    {% endfor %}
</ul>

<h2>Listening Habits</h2>
<ul>
    <li>
        <p>Total Listening Time: {{ total_listening_time }} hours</p>
        <p>Peak Listening Day: {{ peak_listening_day }}</p>
    </li>
</ul>


<a href="{% url 'spotify_app:view_saved_wraps' %}" class="btn-next">Back to Saved Wraps</a>
{% endblock %}